.banner {
  background-image: image(../resources/images/the-flatiron-building.png);
}

.white h1 {
  color: white;
  font-weight: bold;
  font-size: 70px
}

.navlink {
  font-size: 18px;
  color: white;
  text-align: center;
}

.supporting {
  text-align: center;
}

.supporting h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.supporting h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.supporting-item p {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

.white h2 {
  font-family: Helvetica;
  font-size: 23px;
  color: white;
  font-weight: bold
}

.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
